.email_form_container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.email_form_container h1 {
  color: var(--main-text-color);
  padding: 20px 30px;
  border: 1px solid var(--main-contrast-color);
}

.form {
   border: 1px solid var(--main-contrast-color);
    margin-top: 20px;
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form input {
  height: 50px;
  width: 60%;
  margin: 0 auto;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--main-contrast-color);
  padding-left: 10px;
  color: white;
}

.form input:focus {
  color: white;
}

.form button {
  width: 20%;
  margin: 0 auto;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--main-contrast-color);
  color: var(--main-text-color);
  padding: 10px 7px;
}

.form button:active {
  transform: translateY(2px);
}
