.web_skills_container {
  width: 60%;
  margin: 50px auto;
  display: flex;
  align-items: center;
}

.ui_ux_skills_container {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.editing_skills_container {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.frontend {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skill_icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
}

.skill_icons img {
  object-fit: contain;
  width: 140px;
}

.fa-html5::after {
  font-size: small;
  content: "HTML";
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.fa-css3-alt::after {
  content: "CSS";
  font-size: small;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.fa-js::after {
  content: " JavaScript";
  font-size: small;
  letter-spacing: 2px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
}

.fa-react::after {
  content: "React";
  font-size: small;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.fa-feather::after {
  content: "MongoDB";
  font-size: small;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.fa-bootstrap::after {
  content: "Bootstrap";
  font-size: small;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.github_skill::after {
  content: "Git";
  color: black;
  font-size: small;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.technical {
  width: 375px;
  height: 450px;
  border: 1px solid var(--main-contrast-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  color: var(--main-text-color);
}

@media only screen and (min-width: 250px) and (max-width: 700px) {
  .web_skills_container {
    width: 90%;
  }

  .frontend {
    width: 100%;
    gap: 10px;
    text-align: center;
  }

  .frontend i {
    width: 75%;
    font-size: 3em;
  }

  .ui_ux_skills_container {
    width: 90%;
  }

  .skill_icons {
    width: 100%;
    flex-direction: column;
  }

  .skill_icons img {
    aspect-ratio: 5/4;
  }

  .editing_skills_container {
    width: 90%;
  }

  .work_container {
    width: 100% !important;
  }

  .work_container h1 {
    padding: 0;
  }
}

/* @media only screen and (min-width: 768px) and (max-height: 1024px) {
  .web_skills_container {
    width: 90%;
  }

  .frontend {
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
} */
