* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all .1s ease-in;
  overflow-x: hidden
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
:root {
  --main-bg-color: #161616;
  --main-accent-color: #848484;
  --main-contrast-color: #373737;
  --main-text-color: #9e9e9e;
}

body {
  background-color: var(--main-bg-color);
}
